body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff0844;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}